body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    float: left;
    text-transform: capitalize;
    font-weight: bold;
}

.admin {
    padding: 50px;
    border-radius: 10px;
}

.btn-success {
    margin-left: 1%;
}

.help-inline {
    color: red;
}

table.neumorphic{
    border-spacing: 0;
    text-align: center;
    overflow: hidden;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
  }
  table.neumorphic thead{
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
  }
  table.neumorphic th{
    padding: 7px;
  }
  
  table.neumorphic>tbody>tr>td {
    padding: 10px;
    font-size: 14px;
    position: relative;
  }
  
  
  table.neumorphic>tbody>tr:hover {
    padding: 20px;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
  }
  
  table.neumorphic tr td:first-child::before {
    content: "";
    position: absolute;
    padding: 7px;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
  }
  
  table.neumorphic td:hover::after {
    content: "";
    position: absolute;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.6);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }
