/* GENERAL */

body {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

.divider {
    width: 100px;
    height: 2px;
    background: #54bde6;
    display: inline-block;
}

a {
    color: #117298;
}

.little {
    margin: 0px 0px 0px 0px;
}

#panel,
#flip {
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#panel {
    padding: 50px;
    display: none;
}

.card {
    max-width: 20rem;
    margin-left: 39.5%;
}


/* INTRODUCTION */

#introduction {
    padding-top: 70px;
    background: url(img/AdobeStock_336885671.jpeg) center;
    background-size: cover;
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
}

.blue {
    color: #117298;
}

#introduction .heading h2 {
    text-transform: uppercase;
    font-size: xx-large;
}

#introduction .heading h1 {
    text-transform: capitalize;
}

.btn-info {
    text-decoration: underline;
}

.btn-info:hover {
    color: black;
}


/* ABOUT */

#about .heading h2 {
    text-transform: uppercase;
    margin-top: 18px;
}


/* PROJETS */

#projets {
    background: url(img/desktop-2325627_1920.jpg);
    background-size: cover;
}

.colorw {
    color: white;
}

.colorb {
    color: black;
}

.carousel-caption:hover {
    text-decoration: underline;
}

.carousel-item h5 {
    text-transform: uppercase;
}

.sp p {
    color: black;
    margin-bottom: 10px;
}

#projets .heading h2 {
    text-transform: uppercase;
    margin-top: 18px;
}

.carousel {
    cursor: pointer;
}

.bw {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.modal img {
    height: 114px;
    width: 114px;
}


/* COMPETENCES */

#competences .heading h2 {
    text-transform: uppercase;
    margin-top: 18px;
}

.timeline {
    padding: 30px 10px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline li .timeline-badge {
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-left: -25px;
    background-color: #e3e9ec;
    border-radius: 50%;
}

.timeline-panel-container {
    width: 50%;
    float: left;
}

.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}

.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background: #fff;
}

.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}

.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid #e3e9ec;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid #e3e9ec;
    content: " ";
}

.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-heading h3 {
    margin-top: 5px;
    font-size: 15px;
}

.timeline-heading h4 {
    margin-top: 5px;
    font-size: 12px;
}

.orangehtml {
    color: #ec652d;
}

.bluecss {
    color: #0398d8;
}

.purplebootstrap {
    color: #6e3ab9;
}

.bluejquery {
    color: #0766aa;
}

.purplephp {
    color: #536ba8;
}

.oh {
    border: 1px solid #ec652d;
    box-shadow: 0 1px 6px #ec652d;
}

.bc {
    border: 1px solid #0398d8;
    box-shadow: 0 1px 6px #0398d8;
}

.pb {
    border: 1px solid #6e3ab9;
    box-shadow: 0 1px 6px #6e3ab9;
}

.bj {
    border: 1px solid #0766aa;
    box-shadow: 0 1px 6px #0766aa;
}

.pp {
    border: 1px solid #536ba8;
    box-shadow: 0 1px 6px #536ba8;
}

.icon1 {
    width: 43%;
    height: 91%;
    margin-left: 29%;
}


/* BAS */

.bas {
    background: url(img/desktop-2325627_1920.jpg) center;
    background-size: cover;
}